<% if(locals.messages.length > 0) {%>
    <% messages.forEach((message) => {%>
        <div>
            <%=message.title%>
            <%=message.content%>
            <% if (user.membership === 'clubhouse' || user.membership === 'admin') {%>
                Date: <%=message.created_at%>
                Author: <%=message.firstname%> <%=message.lastname%>
            <%}%>
            <% if (user.membership === 'admin') {%>
                <form action="/messages/<%=message.id%>/delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            <%}%>
        </div>
    <%})%>
<%} else {%>
    <p>There are no messages</p>
    <%}%>