<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include("partials/navbar")%>
    <% if (locals.user) {%>
        <h1>Welcome <%=user.firstname%>!</h1>
        <p>Here's your dashboard</p>
        <p>You are a <b><%=user.membership%></b> user</p>
        <% if (user.membership === "basic") {%>
            <p>If you would like to join the clubhouse, enter the secret code below:</p>
            <%- include("partials/errors")%>
            <%- include("partials/clubhouseForm")%>
        <%}%>
        <a href="/messages">Head to the message board</a>
    <% } else { %>
        <h1>Welcome!</h1>
        <p>Sign up to get started</p>
        <a href="/sign-up">Sign Up</a>
        <p>Already a member? Login</p>
        <a href="/login">Login</a>
     <% }%>
</body>
</html>